@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  @apply bg-gray-900;
}

@layer components {
  .txtab {
    @apply border-4 font-semibold border-white;
  }
  .txtab-active {
    @apply border-4 font-semibold text-green-700 border-green-700;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button {
  transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
}
button:hover {
  transform: scale(1.05);
}
input:focus {
  outline: none;
  border-color: #10b981;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes blink {
        0%, 100% { opacity: 1; }
        50% { opacity: 0.3; }
      }
      .animate-blink {
        animation: blink 1s infinite;
      }
    

@keyframes ping-once {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.animate-slide-in {
  animation: slide-in 0.8s ease-out forwards;
}

.animate-ping-once {
  animation: ping-once 1s ease-out 1;
}

